@page "/{City}/10day"

@attribute [StreamRendering]

@inject CitiesService CitiesService
@inject WeatherService WeatherService


@if (City is null)
{
	<p>Loading...</p>
}
else
{
	<MudDataGrid Items="@DaysSummary" Filterable="false" SortMode="SortMode.None" Groupable="false">
		<Columns>
			<PropertyColumn Property="@(x => x.Date.ToString("dd/MM"))" />
			<PropertyColumn Property="@(x => $"{x.MinTemp}C/{x.MaxTemp}C")" />
			<PropertyColumn Property="@(x => $"{x.WindSpeed} m/s")" />
			<PropertyColumn Property="@(x => $"{x.RelativeHumidity}%")" />
		</Columns>
	</MudDataGrid>
}

@code {
	[Parameter]
	public string? City { get; set; }

	private List<DaySummary>? DaysSummary;

	protected override async Task OnInitializedAsync()
	{
		DaysSummary = await WeatherService.Get10DaySummary(CitiesService.GetSelectedCity().Longitude, CitiesService.GetSelectedCity().Latitude);
		await base.OnInitializedAsync();
	}
}
