@page "/{City}/today"

@attribute [StreamRendering]

@inject CitiesService CitiesService
@inject WeatherService WeatherService

<PageTitle>Weather in @City</PageTitle>

@if (WeatherInfo is null)
{
	<p>Loading...</p>
}
else
{
	<MudGrid Justify="Justify.Center">
		<BasicCard CardTitle="Today's weather">
			<Body>
				<MudPaper Class="pa-4">
					<MudStack Row="false" Justify="Justify.SpaceAround">
						<MudStack Row="true">
							<MudText Typo="Typo.body1">Partly sunny and pleasant</MudText>
							<MudText>Hi: @MinMaxTemp.Item2</MudText>
						</MudStack>
						<MudSpacer />
						<MudStack Row="true">
							<MudText Typo="Typo.body1">Tonight: Clear</MudText>
							<MudText>Lo: @MinMaxTemp.Item1</MudText>
						</MudStack>
					</MudStack>
				</MudPaper>
			</Body>
		</BasicCard>

		<BasicCard CardTitle="Current weather">
			<Body>
				<MudPaper Class="pa-4">
					<MudStack Row="true" Justify="Justify.SpaceBetween">
						<MudStack Row="true">
							<img src="@WeatherService.WeatherCodeToWeatherSymbolConverter((int)WeatherInfo.TimeSeries[0].ParametersDictionary["Wsymb2"].Values[0])" width="40" height="40" fill="white" />
							<MudText class="fs-3">@WeatherInfo.TimeSeries[0].ParametersDictionary["t"].Values[0].ToString()°</MudText>
						</MudStack>
						<MudStack Row="false">
							<MudStack Row="true">
								<MudText>Wind speed: </MudText>
								<MudText>@WeatherInfo.TimeSeries[0].ParametersDictionary["ws"].Values[0].ToString() m/s</MudText>
							</MudStack>
							<MudStack Row="true">
								<MudText>Humidity: </MudText>
								<MudText>@WeatherInfo.TimeSeries[0].ParametersDictionary["r"].Values[0].ToString()%</MudText>
							</MudStack>
						</MudStack>
					</MudStack>
				</MudPaper>
			</Body>
		</BasicCard>

		<BasicCard CardTitle="Hourly weather">
			<Body>
				<MudCarousel Class="mud-width-full" ItemsSource="@WeatherInfo.TimeSeries.Take(10)" ShowArrows="true" ShowBullets="false" AutoCycle="false" Style="height:150px; width: 200px">
					<ItemTemplate>
						<MudStack Row="false">
							<MudText Typo="Typo.subtitle1">@context.ValidTime.ToString("HH:mm")</MudText>
							<MudStack Row="true" style="justify-content:center">
								<img src="@WeatherService.WeatherCodeToWeatherSymbolConverter((int)@context.ParametersDictionary["Wsymb2"].Values[0])" width="40" height="40"/>
								<MudText class="fs-3">@context.ParametersDictionary["t"].Values[0].ToString()°</MudText>
							</MudStack>
						</MudStack>
					</ItemTemplate>
				</MudCarousel>
			</Body>
		</BasicCard>
	</MudGrid>
}



@code {
	[Parameter]
	public string City { get; set; } = "";
	private MyResponseType? WeatherInfo;
	Tuple<double, double>? MinMaxTemp;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		WeatherInfo = await WeatherService.GetDataAsync(CitiesService.GetSelectedCity().Longitude, CitiesService.GetSelectedCity().Latitude);
		MinMaxTemp = WeatherService.GetMaxMin2Day();
		StateHasChanged();

	}
}
